section.apresentacao {
    height: 120vh;
}

.apresentacao > img {
    position: absolute;
    margin: 35px;
    top: 115vh;
    right: 0;
    max-width: 35%;
    min-height: 90%;
    object-fit: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.apresentacao > h2 {
    position: absolute;
    margin: 100px;
    top: 120vh;
    font-family: 'More Sugar', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    text-align: left;
    color: #96634F;
}

.apresentacao > #texto-apresentacao {
    position: absolute;
    margin: 100px;
    top: 145vh;
    max-width: 650px;
}

.apresentacao > #texto-apresentacao > p {
    font-family: 'Montserrant', sans-serif;
    font-size: 18px;
    text-align: left;
    letter-spacing: 2px;
    line-height: 1.4;
    color: #000;
}

.apresentacao > #patinha-2 {
    position: absolute;
    background-color: #73965F;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 140px;
    top: 130vh;
    right: 445px;
    border-radius: 100%;
    z-index: 1;
}

.apresentacao > #patinha-2 > img {
    height: 95px;
    width: 95px;
    object-fit: contain;
    transform: rotate(-24deg); 
}